
body {
	background: none;
}

.full {
  background: url(../20150318070051.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shadow {
    text-shadow: 2px 2px #000;
}
